
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow: hidden;
  width: 100%;
}

.technologies {
  margin: 1%;
}

.technologies svg {
  margin: 0.5%;
  max-width: 80px;
  max-height: 80px;
}

.text {
  margin: 30px;
  padding: 2%;
  width: 100%;
  text-align: center;
}


@keyframes bounceInLeft {
  0% {
     transform: translateX(-100%);
  }
  100% {
     transform: translateX(1500%);
  }
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
     -webkit-transform: translateX(-50px);
    }
    100% {
      -webkit-transform: translateX(1000%);
    }
  }

#theHero  {
  max-width: 100px;
  max-height: 60px;
  margin-top: 14%;
  -webkit-animation-duration: 20s; 
  animation-duration: 20s; 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  z-index:2;
  position: absolute;
}

#animate-area	{ 
  width: 100%; 
  min-height: 400px;
  max-height: 100%;
  background-image: url(https://res.cloudinary.com/diggrhtle/image/upload/v1605181965/persona%20page/alien_zgws4e.jpg);
  background-size: contain;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 50s infinite;
}

@keyframes animatedBackground {
  from { background-position: 100% 0; }
  to { background-position: 0 0; }
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
     -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(0);
  }
}
  
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.js {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay:1s;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.html {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.css {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.react {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.node {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.git {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.mongo {

  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.sql {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay:8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
.docker {
  -webkit-animation-duration: 2;
  animation-duration: 2s;
  animation-delay:9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}


@media (max-width: 1900px) {
  #theHero  {
     margin-top: 15%;
  }
}
@media (max-width: 1700px) {
  #theHero  {
     margin-top: 17%;
  }
}
@media (max-width: 1555px) {
  #theHero  {
     margin-top: 19%;
  }
}
@media (max-width: 1400px) {
  #theHero  {
     margin-top: 21%;
  }
}
@media (max-width: 1250px) {
  #theHero  {
     margin-top: 23%;
  }
}
@media (max-width: 1150px) {
  #theHero  {
     margin-top: 24%;
  }
  .text {
    margin-top: 10px;
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  @keyframes bounceInLeft {
    0% {
       transform: translateX(-50px);
    }
    100% {
       transform: translateX(700%);
    }
  }
  
  @-webkit-keyframes bounceInLeft {
    0% {
       -webkit-transform: translateX(-50px);
      }
      100% {
        -webkit-transform: translateX(300px);
      }
    }
    #animate-area	{ 
      min-height: 300px;
    }
    #theHero  {
      margin-top: 21.8%;
   }
    .text {
      margin-top: 3px;
      padding: 1%;
    }
}

@media (max-width: 825px) {
  #theHero {
    margin-top: 24%;
    max-width: 80px;
    max-height: 40px;
  }
  .technologies svg {
    max-width: 50ox;
    max-height: 50px;
  }

}

@media (max-width: 650px) {
  #theHero {
    max-width: 80px;
    max-height: 40px;
  }
  #animate-area	{ 
    min-height: 250px;
  }
  .technologies svg {
    margin-top: 3%;
    max-width: 50ox;
    max-height: 50px;
  }
  @keyframes bounceInLeft {
    0% {
       transform: translateX(-50px);
    }
    100% {
       transform: translateX(300%);
    }
  }
  
  @-webkit-keyframes bounceInLeft {
    0% {
       -webkit-transform: translateX(-50px);
      }
      100% {
        -webkit-transform: translateX(300%);
      }
    }
}

@media (max-width: 580px) {
  #theHero  {
     margin-top: 22%;
  }
}
@media (max-width: 450px) {
  #theHero  {
     margin-top: 22%;
     max-width: 70px;
     max-height: 30px;
  }
  #animate-area	{ 
    min-height: 200px;
  }
  .text {
    font-size: 0.5rem;
    margin-top: 1px;
    padding: 0.3%;
  }
}
@media (max-width: 360px) {
  #theHero  {
     margin-top: 21%;
  }
}