@font-face {
  font-family: triforce;
  src: url('fonts/Triforce.ttf') format('truetype');
}
@font-face {
  font-family: ganon;
  src: url('fonts/ReturnofGanon.ttf') format('truetype');
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.section__sound {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1%;
}

.title {
  font-size: 30px;
  margin-right: 41%;
}

.enter {
  width: 1000px;
  height: 1000px;
}

h1 {
  font-family: 'triforce';
  color: gold
}

.options {
  animation: blinker 2s linear infinite;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.sound {
  background-color: white;
  width: 60px;
  height: 60px;
}

.section__sound__p {
  padding: 0.4%;
}