
@font-face {
  font-family: triforce;
  src: url('fonts/Triforce.ttf') format('truetype');
}
@font-face {
  font-family: ganon;
  src: url('fonts/ReturnofGanon.ttf') format('truetype');
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

h1 {
  font-family: 'triforce';
  color: gold;
  margin: 0
}

.options {
  margin-top: 10%;
  animation: blinker 2s linear infinite;
  font-size: 1rem;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.section__sound {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 15%;
}

.muted {
  animation: blinker 2s linear infinite;
}


.sound {
  background-color: white;
  max-width: 15%;
  max-height: 5%;
}

.section__sound__p {
  font-size: 0.9rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.MuiToolbar-gutters {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}