
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter {
  max-height: 400px;
}

@-webkit-keyframes bounceInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-400px);
  }
  60% {
     opacity: 1;
     -webkit-transform: translateY(30px);
  }
  80% {
     -webkit-transform: translateY(-10px);
  }
  100% { 
     -webkit-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
     opacity: 0;
     transform: translateY(-400px);
  }
  60% {
     opacity: 1;
     transform: translateY(30px);
  }
  80% {
     transform: translateY(-10px);
  }
  100% {
     transform: translateY(0);
  }
}

#homeTitle {
  font-size: 10rem;
  padding-top:10%;
  margin-bottom:7%;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  text-align: center;
}


@media (max-width: 1080px) {
  #homeTitle {
     font-size: 8rem;
     padding-top: 15%;
     padding-bottom: 10%;
  }
}
@media (max-width: 525px) {
  #homeTitle {
     font-size: 5rem;
     padding-top: 25%;
     padding-bottom: 20%;
  }
}