.projectsPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.title {
  font-size: 5rem;
}

.timeline {
  min-width: 50%;
}

.project {
  font-family: 'ganon';
  font-size: 1.5rem;
}

iframe {
  width: 1000px;
  height: 600px;
  background-color: white;
}

#projects__back {
  margin-top: 0;
}

img {
  max-width: 30%;
}

section {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  padding: 1%;
}
a {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
}