
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.projects__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 10%;
  font-size: 5rem;
}

.timeline {
  min-width: 50%;
  max-width: 80%;
}

.project__title {
  color: white;
}

.project {
  font-family: 'ganon';
  font-size: 1.5rem;
  color: white;
  background-color: #4054b5;
}

iframe {
  width: 1000px;
  height: 600px;
  background-color: white;
}

#projects__back {
  margin-top: 0;
}

a {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7rem;
}

.theHero {
  max-width: 30%;
}

.section__contact {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  padding: 1%;
}


.link {
  min-width: 64px;
  min-height: 64px;
}

.MuiPaper-root {
  background-color: #4054b5 !important;
}

@media (max-width:1150px) {
  .timeline {
    min-width: fit-content;
    max-width: fit-content;
  }
}
@media (max-width:710px) {
  .smallStage {
    font-size: 0.7rem;
    text-align: center;
  }
}
@media (max-width:600px) {
  .title {
    padding-top: 10%;
    font-size: 3rem;
    text-align: center;
  }
  .timeline div {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .smallStage {
    font-size: 1rem;
    padding-top: 3%;
  }
  .MuiPaper-rounded{
    min-width: 300px !important;
    max-width: 80%;
  }
}
@media (max-width:530px) {
  .project {
    font-size: 1rem;
  }
  .project__title {
    font-size: 0.7rem;
  }
  a {
    font-size: 0.5rem;
  }
  button {
    font-size: 0.5rem;
  }
  .MuiPaper-rounded{
    min-width: 300px !important;
  }
}
@media (max-width:420px) {
  .smallStage {
    font-size: 0.8rem;
    padding-top: 3%;
  }
  .project {
    font-size: 1rem;
  }
  .project__title {
    font-size: 0.7rem;
  }
  a {
    font-size: 0.5rem;
  }
  button {
    font-size: 0.5rem;
  }
  .MuiPaper-rounded{
    min-width: 200px !important;
  }
}
