.projects__container {
  display: flex;
  flex-direction: column;

}

.projects__main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 5rem;
}

.project {
  font-family: 'ganon';
  font-size: 1.5rem;
}

iframe {
  width: 1000px;
  height: 600px;
  background-color: white;
}

